<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="!prod">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) [%thread] [%X{requestId:-}] [%X{trace_id:-}] [%X{userId:-}] [%X{kafkaTopic:-}:%X{kafkaPartition:-}@%X{kafkaOffset:-}] [key=%X{kafkaKey:-}] %cyan(%logger{36}) - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <!-- request context -->
                <includeMdcKeyName>requestId</includeMdcKeyName>
                <includeMdcKeyName>userId</includeMdcKeyName>
                <includeMdcKeyName>method</includeMdcKeyName>
                <includeMdcKeyName>path</includeMdcKeyName>
                <!-- OTel Java Agent populates these automatically -->
                <includeMdcKeyName>trace_id</includeMdcKeyName>
                <includeMdcKeyName>span_id</includeMdcKeyName>
                <includeMdcKeyName>trace_flags</includeMdcKeyName>
                <!-- kafka context -->
                <includeMdcKeyName>kafkaTopic</includeMdcKeyName>
                <includeMdcKeyName>kafkaPartition</includeMdcKeyName>
                <includeMdcKeyName>kafkaOffset</includeMdcKeyName>
                <includeMdcKeyName>kafkaKey</includeMdcKeyName>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="JSON_CONSOLE"/>
        </root>
    </springProfile>

    <!-- Level is set by application.yaml (DEBUG) and overridden by application-prod.yaml (INFO). -->
    <logger name="com.sebet.cartservice" additivity="false">
        <springProfile name="!prod">
            <appender-ref ref="CONSOLE"/>
        </springProfile>
        <springProfile name="prod">
            <appender-ref ref="JSON_CONSOLE"/>
        </springProfile>
    </logger>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.apache.kafka" level="WARN"/>

</configuration>
